{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}

{% block body %}
{% load static %}
<main role="main">

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to ShopDrop!</h1>
      <p>
          ShopDrop Private Limited is an Indian e-commerce company headquartered in Mumbai, officially established as a private limited company in 2023. Initially specializing in online electronics sales, the company later diversified its offerings to include various product categories such as fashion, home essentials, groceries, and lifestyle products. In the highly competitive Indian e-commerce landscape, ShopDrop faces challenges from both international and domestic rivals. Presently, as of January 2024, ShopDrop commands a substantial 29.5% market share in the Indian e-commerce industry. Notably, the company has achieved dominance in the electronics segment, owing to strategic acquisitions like De-vice.com. In the realm of electronics and mobile phones, ShopDrop is recognized as a formidable player, often being described as closely competitive with other major industry players.
      </p>
      <p><a class="btn btn-dark btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img height="140px" width="140px" style="border-radius:50%" src='{%static "shop/aanya-about us.png" %}' alt="Aanya">
        <h5>ShopDrop - A Virtual Wonderland for Shopaholics!</h5>
        <p>Rating: ⭐⭐⭐⭐⭐ (5/5)

<br><br>I recently stumbled upon the hidden gem that is ShopDrop, and I must say, it's like finding a virtual treasure trove for all your shopping desires! From the moment I entered their website, I was captivated by the sleek and user-friendly design.
        ShopDrop's customer service is another highlight. I had a question about a product, and their responsive and friendly support team addressed my inquiry promptly. It's evident that customer satisfaction is a top priority for them.
        </p>
        <h6>Aanya, Mumbai</h6>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img height="140px" width="140px" style="border-radius:50%" src='{%static "shop/harsh-about us.png" %}' alt="Harsh">
        <h5>ShopDrop - Where Dreams Come True!</h5>
        <p>Rating: ⭐⭐⭐⭐⭐ (5/5)<br><br>
Prepare to be swept away into a world of sheer delight with ShopDrop! This e-commerce haven has completely redefined my online shopping experience, leaving me in awe of its magic.
        ShopDrop's selection is nothing short of mesmerizing. From trendy fashion finds to cutting-edge electronics, they've curated a collection that caters to every desire. It's like having a personal shopper who understands your taste perfectly, guiding you towards the latest and greatest.
        </p>
        <h6>Harsh, Delhi</h6>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img height="140px" width="140px" style="border-radius:50%" src='{%static "shop/Ashna-about us.png" %}' alt="Ashna">
        <h5>ShopDrop - The Ultimate Shopping Oasis!</h5>
        <p>Rating: ⭐⭐⭐⭐⭐ (5/5)<br><br>
        ShopDrop boasts an extensive range of products that cater to all tastes and preferences. Whether you're into the latest fashion trends, cutting-edge gadgets, or home essentials, this platform has it all. The variety is mind-boggling, and I found myself lost in a sea of choices that left me excited about the endless possibilities.
          What truly sets ShopDrop apart is its commitment to providing unbeatable deals and discounts. I felt like I was unlocking secret doors to exclusive savings. It's a budget-conscious shopper's dream come true.
        </p>
        <h6>Ashna, Bengaluru</h6>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Caters to every need. <span class="text-muted">You name it, we have it.</span></h2><br>
        <p class="lead">We take pride in presenting a diverse range of products that cater to every conceivable need and desire. At ShopDrop, we have diligently curated a selection that spans across various categories, ensuring that our customers find everything they could ask for in one convenient place. From the latest fashion trends to cutting-edge electronics, home essentials, beauty products, and beyond, our comprehensive inventory is designed to meet the diverse preferences of our valued customers. We believe in offering a one-stop shopping experience where individuals can explore, discover, and fulfill their requirements seamlessly. With our commitment to providing an extensive and varied product range, we strive to be the ultimate destination for those seeking a convenient and satisfying shopping journey.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Sale all year round. <span class="text-muted">Pay less, get more.</span></h2><br>
            <p class="lead">At ShopDrop, we make sure on offering an unbeatable shopping experience with our all-year-round sale. We understand the importance of affordability for our customers, and that's why we've committed to providing competitive prices that stand unmatched. Our continuous sale ensures that our valued shoppers can enjoy savings on a wide range of products consistently, allowing them to indulge in their favorite purchases without breaking the bank. With a dedication to delivering quality products at prices that won't be found elsewhere, our all-year-round sale is a testament to our commitment to making every purchase a cost-effective and rewarding one. Shop with us, and rest assured that you're not just getting great products, but also unbeatable prices that elevate your shopping experience.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Meet our founder. <span class="text-muted">Shantanu Basu</span></h2><br>
        <p class="lead">Mr. Basu, armed with no prior experience in the e-commerce market, fearlessly ventured into the competitive industry with a mission to revolutionize the pricing landscape in India. Despite the fierce competition, he aimed to disrupt the market by introducing prices that had never been seen before. His bold entry signified a determination to bring affordability and value to Indian consumers, challenging established norms in the e-commerce sector. Mr. Basu's decision to step into this challenging arena demonstrated not only his entrepreneurial spirit but also his commitment to providing customers with unprecedented cost savings. As a newcomer in the industry, his journey into the e-commerce market highlighted a fresh perspective and the potential for innovation that could redefine the way India shops online.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>

{% endblock %}

{% block js %}
<script>
console.log('working');
if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}
$('.cart').click(function(){
console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] !=undefined){
cart[idstr] = cart[idstr] + 1;
}
else
{
cart[idstr] = 1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
});
$('#popcart').popover();
document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');
</script>
{% endblock %}
